@use "variables" as *;

// media query
@mixin mq($size) {
  @media (width > $size) {
    @content;
  }
}

// line clamp
@mixin line-clamp($row-number) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row-number;
  overflow: hidden;
}
