$colors: (
  "white": #fff,
  "orange": #d5966c,
  "black": #151515,
  "gray": #444444,
);

$font-sizes: (
  "heading-xl": 96px,
  "heading-l": 70px,
  "heading-m": 60px,
  "heading-s": 36px,
  "body-m": 22px,
  "body-s": 18px,
);

$font-weights: (
  "light": 300,
  // "regular": 400,
  // "bold": 700,
  "extrabold": 800,
  "black": 900,
);
