@use "../abstracts" as *;

.button {
  display: flex;
  &:hover {
    .button__text {
      background-color: var(--clr-orange);
    }
    .button__icon {
      background-color: var(--clr-black);
    }
  }
}

.button__text {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 20px;
  font-weight: var(--fw-extrabold);
  font-family: var(--ff-title);
  padding: 24px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3.23px;
}

.button__icon {
  background-color: var(--clr-orange);
  padding: 24px;
}
