@use "../abstracts" as *;

.button {
  display: flex;
}

.button__text {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: var(--fs-button);
  font-weight: var(--fw-extrabold);
  font-family: "Big Shoulders", sans-serif;
  padding: 24px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
// hover effect
.button__icon {
  background-color: var(--clr-orange);
  padding: 24px;
}
