@use "../abstracts" as *;

:root {
  --ff-primary: "Outfit", sans-serif, system-ui;

  @each $key, $value in $font-sizes {
    --fs-#{$key}: #{$value};
  }

  @each $key, $value in $font-weights {
    --fw-#{$key}: #{$value};
  }

  @each $key, $value in $colors {
    --clr-#{$key}: #{$value};
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
