.hero > img {
  margin-bottom: 32px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 120px;
}
.hero__title {
  font-weight: var(--fw-black);
  color: var(--clr-black);
  font-family: var(--ff-title);
  text-transform: uppercase;
  font-size: var(--fs-heading-m);
  line-height: 55px;
}
.hero__text {
  font-size: var(--fs-body-s);
  line-height: 28px;
  font-weight: var(--fw-light);
}

.main__article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.main__article:nth-child(2) .article__content {
  background-color: var(--clr-black);
  padding: 48px 24px;
  & .article__title,
  & .article__text {
    color: var(--clr-white);
  }
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article__title {
  font-weight: var(--fw-black);
  color: var(--clr-black);
  font-family: var(--ff-title);
  text-transform: uppercase;
  font-size: var(--fs-heading-s);
  line-height: 45px;
}

.article__text {
  font-size: var(--fs-body-s);
  line-height: 28px;
  font-weight: var(--fw-light);
}
