@use "../abstracts" as *;
.main {
  margin-bottom: 120px;
}
.hero .container {
  position: relative;
  padding: 0;
}
.hero__background {
  background-image: url("/abuela-mobile.jpg");
  height: 240px;
  width: 100%;
  display: block;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq($tablet) {
    background-image: url("/abuela-tablet.jpg");
    height: 700px;
    width: 100%;
    margin-bottom: 120px;
    background-position: left;
    background-size: contain;
  }
}

.hero .hero__content {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  gap: 32px;
  margin-bottom: 120px;
  position: relative;

  @include mq($tablet) {
    gap: 48px;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    max-width: 339px;
    position: absolute;
    right: 40px;
    top: 145px;
  }
}
.hero__title {
  font-weight: var(--fw-black);
  color: var(--clr-black);
  font-family: var(--ff-title);
  text-transform: uppercase;
  font-size: var(--fs-heading-m);
  line-height: 55px;

  @include mq($tablet) {
    font-size: var(--fs-heading-l);
    line-height: 65px;
  }
}
.hero__text {
  font-size: var(--fs-body-s);
  line-height: 28px;
  font-weight: var(--fw-light);
}

.main__article:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;

  @include mq($tablet) {
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    & .article__image {
      order: 2;
      height: 100%;
    }
    & .article__content {
      max-width: 223px;
    }
  }
}

.main__article:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mq($tablet) {
    height: 720px;
    gap: 12px;
    flex-direction: row;
    & > .article__image {
      width: 398px;
    }
  }
}
.article__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include mq($tablet) {
    gap: 12px;
    & .article__image {
      height: 313px;
      object-fit: cover;
    }
    & .article__content {
      flex-grow: 1;
    }
  }
}

.article__wrapper .article__content {
  background-color: var(--clr-black);
  padding: 48px 24px;
  & .article__title,
  & .article__text {
    color: var(--clr-white);
  }
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article__title {
  font-weight: var(--fw-black);
  color: var(--clr-black);
  font-family: var(--ff-title);
  text-transform: uppercase;
  font-size: var(--fs-heading-s);
  line-height: 45px;
}

.article__text {
  font-size: var(--fs-body-s);
  line-height: 28px;
  font-weight: var(--fw-light);
}
