.hero > img {
  margin-bottom: 32px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 120px;
}
.hero__title {
  font-weight: var(--fw-black);
  color: var(--clr-black);
  font-family: var(--ff-title);
  text-transform: uppercase;
  font-size: var(--fs-heading-m);
  line-height: 55px;
}
.hero__text {
  font-size: var(--fs-body-s);
  line-height: 28px;
  font-weight: var(--fw-light);
}
