@use "../abstracts/" as *;

.location > .container {
  position: relative;
}

.location__image {
  height: 550px;
  width: 100%;
  object-fit: cover;
  @include mq($tablet) {
    height: 600px;
  }
}

.location__button {
  position: absolute;
  left: 0;
}
.location__wrapper {
  @include mq($tablet) {
    max-width: 398px;
  }
  @include mq($desktop) {
    max-width: 540px;
  }
}
.location__content {
  background-color: var(--clr-black);
  padding-top: 48px;
  padding-bottom: 56px;

  @include mq($tablet) {
    .container {
      display: flex;
      justify-content: space-between;
    }

    padding-top: 88px;
    padding-bottom: 80px;
  }
  @include mq($desktop) {
    padding-top: 104px;
    padding-bottom: 128px;
  }
}
.location__title {
  font-weight: var(--fw-black);
  color: var(--clr-white);
  font-family: var(--ff-title);
  text-transform: uppercase;
  font-size: var(--fs-heading-s);
  line-height: 45px;
  margin-bottom: 48px;

  @include mq($tablet) {
    max-width: 223px;
  }

  @include mq($desktop) {
    font-size: var(--fs-heading-l);
    line-height: 70px;
  }
}
.location__subtitle {
  font-weight: var(--fw-black);
  color: var(--clr-orange);
  font-family: var(--ff-title);
  text-transform: uppercase;
  font-size: var(--fs-heading-xs);
  line-height: 32px;
  margin-bottom: 20px;

  @include mq($desktop) {
    font-size: 36px;
    line-height: 36px;
  }
}
.location__address {
  margin-bottom: 20px;
}
.location__text {
  color: var(--clr-white);
  font-size: var(--fs-body-s);
  line-height: 28px;
  font-weight: var(--fw-light);
  font-style: normal;

  @include mq($desktop) {
    font-size: var(--fs-body-m);
    line-height: 32px;
  }
}
