@use "../abstracts/" as *;

.footer {
  background-color: var(--clr-black);
  padding: 48px 32px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 38px;

  @include mq($tablet) {
    gap: 64px;
    flex-direction: row;
  }
}

.footer.location {
  background-color: var(--clr-orange);
}

.footer__text {
  font-weight: var(--fw-light);
  font-size: var(--fs-body-xs);
  color: var(--clr-white);
  line-height: 26px;
  @include mq($tablet) {
    max-width: 281px;
    margin-right: auto;
  }
  @include mq($desktop) {
    max-width: 430px;
  }
}
.footer__text.location {
  color: var(--clr-black);
}

.footer__list {
  display: flex;
  gap: 20px;
}
